@import '../../assets/scss/_variables';

.content-container{
    height: 100vh;//to remove

    padding-left: 100px;
    padding-right: 100px;
    color: $foreground-primary;
    background-color: $background-primary;
}